{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <p>
        We’re excited to bring together JavaScript enthusiasts for a unique meetup
        in the Faroe Islands! While the exact schedule is still being finalized,
        here’s what you can expect:
      </p>
      <p>
        We’ll start with some fresh air before heading to <a href="https://elektron.fo/">Elektron’s</a> venue,
        where we’ll dive into tech, share knowledge, and connect with like-minded developers.
        After the main event, we might wrap up the evening at a local brewery for some casual networking.
      </p>
      <p>
        Additionally, these three speakers will be sharing their insights during the event,
        offering valuable perspectives on various aspects of technology.
      </p>
      <div class="speakers">
        <div class="speaker">
          <img src="https://github.com/kasperisager.png" alt="Kasper Isager Dalsgarð">
          <p>Kasper Isager Dalsgarð <br> <span class="small-text">Developer at Holepunch</span></p>
        </div>
        <div class="speaker">
          <img src="https://github.com/mafintosh.png" alt="Mathias Buus Madsen">
          <p>Mathias Buus Madsen <br> <span class="small-text">Holepunch CEO</span></p>
        </div>
        <div class="speaker">
          <img src="https://github.com/jbiskur.png" alt="Julius á Rógvi Biskopstø">
          <p>Julius á Rógvi Biskopstø <br> <span class="small-text">Flowcore CTO</span></p>
        </div>
      </div>
      <p>
        We aim to set the participation fee at 300 DKK, but the final amount will depend on the number of attendees.
        Payment can be made via bank transfer or <img src="/img/tether.png" alt="Tether logo" class="tether">Tether (USDT).
      </p>
    </div>
  </div>
</div>

{% endblock content %}
