{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <div class="contact-page">
        <p>
          You can reach us through Keet
        </p>
        <div class="keet-container">
          <a href="https://keet.io/" target="_blank">
            <img src="{{ get_url(path="/img/keet.png") }}" alt="Keet">
          </a>
        </div>
        <p>
          Once you have downloaded Keet, you can join the #SheepJS room by scanning
          the QR Code
        </p>
        <div class="keet-container">
          <img src="{{ get_url(path="/img/qr.png") }}" alt="QR Code" class="qr">
        </div>
        <p>
          Or by using this link: 
        </p>
        <div class="key-container">
          <a class="keet-link" href="pear://keet/yfo18m9gn4a6mmw6amdftc4eyzoahum9d1i1d849hdsgfudyhfyyy4zxuh7ehje83j7fst1oetsmmsp178ohy3j63d4g6d6qea3ri5fox341r8crqbwwo3gwzyyo4key35i5rqcpjximemuhaci5nfje8hzreye">
            pear://keet/yfo18m9gn4a6mmw6amdftc4eyzoahum9d1i1d849hdsgfudyhfyyy4zxuh7ehje83j7fst1oetsmmsp178ohy3j63d4g6d6qea3ri5fox341r8crqbwwo3gwzyyo4key35i5rqcpjximemuhaci5nfje8hzreye
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
