{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <div class="contact-page">
        <p>
          You can reach us through Keet
        </p>
        <div class="keet-container">
          <a href="https://keet.io/" target="_blank">
            <img src="{{ get_url(path="/img/keet.png") }}" alt="Keet">
          </a>
        </div>
        <p>
          Once you have downloaded Keet, you can join the #SheepJS room by scanning
          the QR Code
        </p>
        <div class="keet-container">
          <img src="{{ get_url(path="/img/qr.png") }}" alt="QR Code" class="qr">
        </div>
        <p>
          Or by using this link: 
        </p>
        <div class="key-container">
          <a class="keet-link" href="pear://keet/yrysjunmzohc1rtqgeyc5ydq5wmsejqcmtuwf9zdrc9in8bubi34rat4g6c71unsiucctsyuacdspscqjz5n3ee4kem841sphu19s3mjwh">
            pear://keet/yrysjunmzohc1rtqgeyc5ydq5wmsejqcmtuwf9zdrc9in8bubi34rat4g6c71unsiucctsyuacdspscqjz5n3ee4kem841sphu19s3mjwh
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
