{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <h2>Encyclopedia</h2>
      <p>
        The Faroe Islands are an archipelago with 18 islands in the North
        Atlantic Ocean and an autonomous territory of the Kingdom of Denmark.
        The official language is Faroese.
      </p>
      <p>
        Located at a similar distance from Iceland, Norway, and the United
        Kingdom, the islands have a total area of about 1400 sq km with a
        population of 54676 as of August 2023.
      </p>
      <p>The capital is Tórshavn with a population of 14032.</p>
      <p>Fun fact about Tórshavn (from wikipedia):</p>
      <p>
        The capital and largest city receives the fewest recorded hours of
        sunshine of any city in the world at only 840 per year.
      </p>
      <p>
        The terrain is rugged and the climate is windy, wet, cloudy and cool.
      </p>
      <p>
        Because of the climate it is always recommended to wear multiple layers
        with a windproof and waterproof outer layer.
      </p>
      <p>
        You can experience different amount of rain, sun, storm, no wind,
        clouds, no clouds (and snow) in the same day, but the temperature during
        summer is usually between 10 and 15 degrees celcius.
      </p>
      <p>Big events happening during summer are:</p>
      <ul>
        <li>
          <p><a href="https://gfestival.fo/?_l=en">G! Festival</a> (17th-19th of July 2025)</p>
        </li>
        <li>
          <p><a href="https://www.visittorshavn.fo/event/olavsoka-national-day/2025-07-28/">Ólavsøka/National Days</a> (28th-29th of July 2025)</p>
        </li>
        <li>
          <p><a href="https://sf.fo/">Summarfestivalur</a> (7th-9th of August 2025).</p>
        </li>
        <li>
          <p><a href="https://www.summartonar.fo/en">Summartónar</a> (Folk music events during the summer)</p>
        </li>
      </ul>
      <p>Note: The sale of alcohol is monopolized, meaning it is not available for purchase in grocery stores.</p>
    </div>
  </div>
</div>

{% endblock content %}
