{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <h2>Links to hiking information</h2>
      <p> 
        <a href="https://visitfaroeislands.com/en/see-do/activities/hiking/hiking-guidelines-restrictions">
          Hiking guidelines and restrictions
        </a>
      </p>
      <ul>
        <li><p>Information about the hare-hunting season and which routes require payment</p></li>
      </ul>
      <p>
        <a href="https://issuu.com/visitfaroeislands/docs/a73141_vfi_hiking2020_a5_uk">
          Hiking brochure
        </a>
      </p>
        <ul>
          <li><p>Includes several images of hiking routes</p></li>
        </ul>
      <p>
        <a href="https://vfibackend.com/uploads/vfi-trygdarfaldari-2021-korr4.pdf">
          Fill out form for safety
        </a>
      </p>
      <ul>
        <li><p>For example, you can use this to leave in your car if you won’t be returning to it and may need assistance</p></li>
      </ul>
      <p>
        <a href="https://visitfaroeislands.com/en/see-do/activities/hiking/guide-to-safe-hiking">
          Guide to safe hiking
        </a>
      </p>
    </div>
  </div>
</div>

{% endblock content %}
