{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <h1>#SheepJS 🐑</h1>
      <p class="lead">
        Welcome to the first ever Bare meetup - both on the Faroe Islands and,
        well, ever!
      </p>
      <p>
        Get ready to connect, learn, and geek out with fellow JavaScript
        enthusiasts in a laid-back atmosphere. No frills, just good talks, great
        people, and plenty of code.
      </p>
      <p>Join us on <strong>August 2, 2025</strong> - Welcome aboard!</p>
    </div>
  </div>
</div>

{% endblock content %}
