{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <p>
        To Join, you need to:
      </p>
      <ul>
        <li>
          <p>
            Go to the contact section
          </p>
        </li>
        <li>
          <p>
            Join the #SheepJS chat room within Keet
          </p>
        </li>
        <li>
          <p>
            Click on the room’s title to view the list of participants,
            find 'Sigrid' and send a direct message.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
