{% extends "base.html" %} {% block content %}

<div class="row">
  <div class="col">
    <div class="card">
      <h2>Transportation</h2>
      <h3>Ferry</h3>
        <ul>
          <li><p><a href="https://www.smyril-line.com/">Smyril Line</a> - The crossing from Denmark takes approximately 36 hours</p></li>
        </ul>
      <h3>Flights</h3>
        <ul>
          <li><p><a href="https://www.atlanticairways.com/en">Atlantic Airways</a> (recommended)</p></li>
          <li><p><a href="https://www.flysas.com/en/">SAS</a></p></li>
        </ul>
      <h3>Transport from the Airport to Tórshavn</h3>
      <p>
        Upon arrival at Vágar Airport, transportation to Tórshavn can be challenging.
        There are scheduled buses from the airport, but they are not necessarily coordinated with flight arrivals.
        However, this is probably the most affordable transport option, costing approximately 110 DKK per person.

        If you arrive during the day, you may find that the bus has just left, with the next departure up to two hours later.
        If you arrive at night, there may be no bus service at all.

        You can find the current bus schedule here:
      </p>
      <ul>
        <li><p><a href="https://www.ssl.fo/en/timetable/bus/300-torshavn-airport-soervagur">Bus (from airport) schedule</a></p></li>
      </ul>
      <p>
        An alternative option is to book a shuttle service through a taxi company (Bil or Auto) the day before arrival.
        The price is approximately 280 DKK per person, but you will be driven directly to your destination.
        However, you will likely share the vehicle with other passengers.
      </p>
      <p>
        For shuttle passengers: The driver waits 50 meters outside the airport in a covered passage.
      </p>
      <p>
        If you prefer a private taxi, that is also an option.
      </p>
      <p>
        You can find a taxi here:
      </p>
      <ul>
        <li><p><a href="https://taxi.fo/en/">Taxi Bil</a></p></li>
        <li><p><a href="https://auto.fo/en/home/">Auto Taxi</a></p></li>
      </ul>
      <p>Another option is to rent a car. Several car rental companies are available, though they are not listed here.</p>
      <h3>Public transport in Tórshavn</h3>
      <p>
        On weekdays, the public red buses run every 20 minutes throughout the city.
        The schedule varies on weekends.
      </p>
      <p>
        The bus schedule can be found here:
      </p>
      <ul>
        <li><p><a href="https://www.torshavn.fo/byur-og-ferdsla/vegir-og-ferdsla/bussleidin">Public bus schedule</a></p></li>
      </ul>
      <p>
        It is also possible to track the busses via:
      </p>
      <ul>
        <li><p><a href="https://www.sona.fo/samferdsla">Sona</a></p></li>
      </ul>
      <p>
        Under "Øki," select "Tórshavn," and under "Leið," choose the route.
        The system can be somewhat complex, so feel free to ask for help if needed!
      </p>
      <h2>Accomodation</h2>
      <p>
        There are several hotels, hostels, and Airbnbs in Tórshavn.
        The hotels closest to our meeting point are
        <a href="https://www.hilton.com/en/hotels/faethgi-hilton-garden-inn-faroe-islands/">Hilton Garden In</a>
        and <a href="https://www.hotelbrandan.com/">Hotel Brandan</a>.
        However, note that it takes about 30 minutes to walk from one end of Tórshavn to the other.
      </p>
      <p>
        For those who prefer staying closer to nature, camping at
        <a href="https://torshavncamping.fo/">Torshavn Camping</a>
        is also an option.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
